    <!-- START FORM USER -->
        <div class="ng-scope" ng-controller="userController">
            <div class="box-label green" ng-bind="headertitle"></div> 
            <div class="wrapper-box green-light">
                <form name="userForm" ng-submit="addUser()" novalidate>
                    <p>
                        <input ng-model="user.firstname"
                            ng-maxlength="30"
                            required
                            type="text"
                            name="firstname" />
                        <label>Vorname</label>
                    </p>
                    <p>
                        <input ng-model='user.secondname'
                            ng-maxlength="30"
                            required
                            type="text"
                            name="secondname" />
                        <label>Nachname</label>
                    </p>
                    <p>
                        <input ng-model='user.nickname'
                            ng-maxlength="30"
                            required
                            type="text"
                            name="nickname" />
                        <label>Nickname</label>
                    </p>
                    <p>
                        <input type="submit" value="speichern" />&nbsp;
                        <span class="formmsg" ng-bind="formmsg"></span>
                    </p>
                </form>
            </div>
            <div class="gridStyle" ng-grid="gridOptionsUser"></div>
        </div>
    <!-- END FORM USER -->